<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group">
      <input type="text" id="pac-input" [(ngModel)]="query" class="form-control" placeholder="Search for..." aria-label="Search for..." >
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="getGoogleLocation()" type="button">Search</button>
      </span>
    </div>
    <div class="col">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="true">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
